<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/admincommon/adminheader::headerLayout"></th:block>
<body>
	<th:block layout:fragment="content">
<!-- 메인파트 -->

            <main>
                <div class="container-fluid px-4">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Category</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="index.html">관리자메인으로</a></li>
                            </ol>
                           <form action="/admin/categoryinsert" method="post">
                                <div class="row g-3 mb-3">
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="카테고리"  name="catName">
                                    </div>
                                      <button type="submit" class="btn btn-outline-info">추가</button>
                                  </div>
                           </form>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    카테고리 
                                </div>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>카테고리 번호</th>
                                                <th>카테고리</th>
                                              
                                                <th>카테고리 삭제</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="list : ${lists}">
                                                <td th:text="${list.catNum}"></td>
                                                <td th:text="${list.catName}"></td>
                                                <td>
                                                   <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/admin/catdelete(catNum=${list.catNum})}'|">삭제</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </main>

	</th:block>
</body>
<th:block th:replace="/admincommon/footer::footerLayout"></th:block>
</html>