:root {
    --color-primary: #D5ECF2;
    /* 전체적인 하늘색 */
    --color-nav: #F4F5EF;
    /* 첫번째 nav의 색깔 */
    --color-notice: #1B1B31;
    /* 공지사항에 들어갈 진한 남색 */
    --color-warning: #95C8D4;
    /* 서브 하늘색 */
    --color-white: #FCFEFE;
    /* 상품진열에 올라간 흰색 */
    --color-sub-blue: #0577BD;
    /* 서브 파란색 */
    --color-green: #2BA69A;
    /* 포인트 그린색(네비바에도 적용중) */
}

.return_history {
    display: flex;
    justify-content: center;
}

.return_history_main {
    width: 87.5rem;
}

.return_history_header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--color-sub-blue);
    color: var(--color-white);
    height: 8rem;
    align-items: center;
    margin-top: 1rem;
}

.return_history_title {
    margin-bottom: 1rem;
}

#return_history_header_title {
    font-size: 3.5rem;
}

.return_history_body {
    width: 100%;
}

.return_history_table_container {
    margin-left: 6rem;
}

.return_history_table_title {
    padding-top: 6rem;
    width: 71rem;
}

.return_history_table_title_inner {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    width: 71rem;
    padding: 0 0 0 3rem;
    position: relative;
}

#return_history_order {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 3rem;
    height: 3rem;
}

#return_history_title {
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-notice);
}

#return_history_btn {
    width: 8.125rem;
    height: 3rem;
    margin-top: 2rem;
    border: 1px solid #bdbdbd;
    font-weight: bold;
    background-color: #FCFEFE;
    right: 0;
}

#return_history_btn:hover {
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem var(--color-sub-blue);
    background-color: var(--color-sub-blue);
    color: var(--color-white);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.return_history_table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.table {
    width: 71rem;
    table-layout: fixed;
    font-weight: bold;
}

.table th {
    text-align: center;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
    text-align: center;
}

.return_history_container {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.table th:nth-child(4) {
    width: 37.75rem;
}

.table th:nth-child(1),
.table th:nth-child(2) {
    width: 50px;
}

.table th:nth-child(3),
.table th:nth-child(5),
.table th:nth-child(6) {
    width: 6.25rem;
}



.return_history_item_title {
    word-wrap: break-word;
    text-align: left;
}

.return_history_img {
    width: 7.5rem;
    float: left;
    margin-right: 0.65rem;
}

.delete_btn {
    width: 6.25rem;
    height: 3rem;
    border: 1px solid #bdbdbd;
    font-weight: bold;
    background-color: #FCFEFE;
    border-radius: 0;
}


.sidebar {
    position: absolute;
    /* 고정 위치 설정 */
  
  
    width: 6rem;
    /* 사이드바 너비 */
    background-color: black;
    /* 배경색 */
    padding: 0.625rem;
    /* 내부 여백 */
    border: 1px solid #ddd;
    /* 테두리 */
    top: 50%;
    right: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 6rem;
  
  }
  
  .sidebar_inner1 {
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
    letter-spacing: 0.5px;
  
  }
  
  .sidebar_inner2 {
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
    letter-spacing: 0.5px;
  }
  
  .sidebar_button1 {
    text-decoration: none;
    color: var(--color-white);
  
  }
  
  .sidebar_button2 {
    text-decoration: none;
    color: var(--color-white);
  }


.sidebar_inner1:after,
.sidebar_inner2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-sub-blue);
  transition: width 0.3s;
}

.sidebar_inner1:hover::after,
.sidebar_inner2:hover::after {
  width: 100%;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination .page-link {
    font-size: 1.2rem; /* 기본 폰트 사이즈보다 크게 */
    padding: 0.5rem 1rem; /* 상하, 좌우 패딩 조정 */
    margin: 2rem 2px; /* 링크 사이의 간격 */
}