<!DOCTYPE html>
<!--인코딩방식 변경-->
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--오픈그래프 소스-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="yakpul" />
    <meta property="og:site_title" content="Medical yakpul Korea" />
    <meta property="og:site_description" content="약+ 당신의 증상을 호전시켜주는 진통제" />
    <meta property="og:site_image" content="./favicon.png" />
    <meta property="og:url" content="http://Medical.yakpul" />

    <!--트위터 카드(Twitter Cards)-->
    <meta proerty="twitter:card" content="Hello" />
    <meta proerty="twitter:site" content="yakpul" />
    <meta proerty="twitter:title" content="Medical yakpul Korea" />
    <meta proerty="twitter:description" content="약+ 당신의 증상을 호전시켜주는 진통제" />
    <meta proerty="twitter:image" content="./css/yakpul.seo.png" />
    <meta proerty="twitter:url" content="http://Medical.yakpul" />
    <title> Medical yakpul korea</title>
    <!--탭 아이콘 연결 파비곤 연결-->
    <link rel="icon" href="./favicon.png" />
    <!--reset 라이브러리 연결 -->
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet" />
    <!--구글 아이콘 연결-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <!--css 연결-->
    <link rel="stylesheet" href="./css/login2.css" />
    <link rel="stylesheet" href="./css/main2.css" />

    <!--구글폰트의 나눔고딕폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js
    "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- 스와이퍼 라이브러리 추가-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!--유튜브 추가 -->
    <script defer src="./js/youtube.js"></script>
    <script defer src="./js/login2.js"></script>
</head>

<body>
    <header><!--header 영역의 시작-->

        <!-- inner의 시작-->
        <div class="inner">
            <a href="" class="logo">
                <img src="./images/yukpul.logo2.png" />
            </a>

            <!-- 서브메뉴-->
            <div class="sub-menu">
                <ul class="menu">
                    <!--회원가입-->
                    <li>
                        <a href="/sigin">Sign In</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">MyPage</a>
                    </li>
                    <li>
                        <a href="#">Cart</a>
                    </li>
                </ul>
                <div class="search">
                    <input type="text">
                    <span class="material-icons">
                        search
                    </span>
                </div>

            </div>
            <!--서브메뉴 끝-->

            <!--상단 메뉴-->
            <ul class="main-menu">
                <li class="item">
                    <div class="item__name">전체카테고리</div>
                    <div class="item__contents">
                        <div class="contents__menu">
                            <ul class="inner">
                                <!--일반의약품을 감싸고 있는 부모요소 li-->
                                <li>
                                    <h4>제품명</h4>
                                    <ul>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>증상</h4>
                                    <ul>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>성분명</h4>
                                    <ul>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                    </ul>
                                </li>
                                <li>
                                    <h4></h4>
                                    <ul>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                        <li>의약품오마카세</li>
                                    </ul>
                                </li>
                            </ul>
                        </div> <!-- 호버 메뉴바  끝 -->
                </li>
                <li class="item">
                    <div class="item__name"> 일반의약품</div>
                    <div class="item__contents">
                        <div class="contents__menu"> 일반의약품 </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item__name"> 편의점구입약품</div>
                    <div class="item__contents">
                        <div class="contents__menu"> 편의점구입약품 </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item__name"> 전문의약품</div>
                    <div class="item__contents">
                        <div class="contents__menu"> 전문의약품</div>
                    </div>
                </li>
            </ul>
        </div> <!-- inner 메뉴 끝 -->

        <!--오른쪽 광고 배너 시작-->
        <div class="badges">
            <div class="badge">
                <img src="./images/adver2.png" alt="광고2" />
            </div>
        </div>
    </header><!--header 영역의 끝-->
    <section>
        <html lang="en">
            <head>
              <meta charset="UTF-8">
              <title>React Singup Form</title>
               <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
            </head>
            <body>
                <label for="username">아이디</label>
                <input type="text" name="mem_id" required>
            </body>
            </html>
    </section>